      .a {
        background-color: #BBDEFB;
      }
      .b {
        background-color: #BBDEFB;
        padding: 10px 20px;
      }
      .c {
        background-color: #BBDEFB;
        margin: 10px 20px;}
